<h1>Edit Tweet No. <%=@tweet.id%></h1>

<form action="/tweets/<%=@tweet.id%>" method="post">
  
  <p>Content: <input type="text" name="content" value="<%=@tweet.content%>"></p>
  <input type="submit" value="Edit Tweet">
</form>
